<div class="container" style="padding-right: 50px;padding-left: 50px;">
<div class="row">

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="disqus_thread">
    <center><p>无法加载disqus😅</p></center>
</div>

</div>
</div>

<!-- <script defer type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ site.disqus_shortname }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->

<script>
    function loadDisqus() {
        // Disqus 安装代码
        var d = document, s = d.createElement('script');
        s.src = 'https://{{site.disqus_shortname}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        window.disqus_config = function () {
        this.page.url = "{{site.url}}/{{page.title}}";
        this.page.identifier = "{{page.title}}";
        };
        // 如果你和我一样在用 DisqusJS，loadDisqus() 里就应该是 DisqusJS 的初始化代码 new DisqusJS({...})
    }
  
    // 通过检查 window 对象确认是否在浏览器中运行
    var runningOnBrowser = typeof window !== "undefined";
    // 通过检查 scroll 事件 API 和 User-Agent 来匹配爬虫
    var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
    // 检查当前浏览器是否支持 IntersectionObserver API
    var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;
  
    // 一个小 hack，将耗时任务包裹在 setTimeout(() => { }, 1) 中，可以推迟到 Event Loop 的任务队列中、等待主调用栈清空后才执行，在绝大部分浏览器中都有效
    // 其实这个 hack 本来是用于优化骨架屏显示的。一些浏览器总是等 JavaScript 执行完了才开始页面渲染，导致骨架屏起不到降低 FCP 的优化效果，所以通过 hack 将耗时函数放到骨架屏渲染完成后再进行。
    setTimeout(function () {
        if (!isBot && supportsIntersectionObserver) {
            // 当前环境不是爬虫、并且浏览器兼容 IntersectionObserver API
            var disqus_observer = new IntersectionObserver(function(entries) {
                // 当前视窗中已出现 Disqus 评论框所在位置
                if (entries[0].isIntersecting) {
                    // 加载 Disqus
                    loadDisqus();
                    // 停止当前的 Observer
                    disqus_observer.disconnect();
                }
            }, { threshold: [0] });
            // 设置让 Observer 观察 #disqus_thread 元素
            disqus_observer.observe(document.getElementById('star'));
        } else {
            // 当前环境是爬虫、或当前浏览器其不兼容 IntersectionObserver API
            // 直接加载 Disqus
            loadDisqus();
        }
    }, 1);

</script>