<script src="/live2dw/lib/L2Dwidget.min.js?0c58a1486de42ac6cc1c59c7d98ae887"></script>
 

<script>
    // 通过检查 window 对象确认是否在浏览器中运行
    var runningOnBrowser = typeof window !== "undefined";
    // 通过检查 scroll 事件 API 和 User-Agent 来匹配爬虫
    var isBot = runningOnBrowser 
                &&
                !("onscroll" in window) 
                || 
                (typeof navigator !== "undefined" 
                && 
                /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent));
    // 检查当前浏览器是否支持 IntersectionObserver API
    var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;
    // alert("isBot: " + isBot);

    // 一个小 hack，将耗时任务包裹在 setTimeout(() => { }, 1) 中，可以推迟到 Event Loop 的任务队列中、等待主调用栈清空后才执行，在绝大部分浏览器中都有效
    // 其实这个 hack 本来是用于优化骨架屏显示的。一些浏览器总是等 JavaScript 执行完了才开始页面渲染，导致骨架屏起不到降低 FCP 的优化效果，所以通过 hack 将耗时函数放到骨架屏渲染完成后再进行。
    setTimeout(function () {
        if (!isBot && supportsIntersectionObserver) {
            // 当前环境不是爬虫、并且浏览器兼容 IntersectionObserver API
            var live2d_observer = new IntersectionObserver(function(entries) {
                if (entries[0].intersectionRatio <= 0.3) {
                    // alert("time to load");
                    L2Dwidget.init({"pluginRootPath":"live2dw/",
                        "pluginJsPath":"lib/",
                        "pluginModelPath":"assets/",
                        "tagMode":true,
                        "debug":false,
                        "model":{"jsonPath":"/live2dw/assets/shizuku.model.json"},
                        "display":{"position":"right","width":130,"height":260},
                        "mobile":{"show":false},
                        "log":false
                    });
                    // 停止当前的 Observer
                    live2d_observer.disconnect();
                }
            });
            // 设置让 Observer 观察 #disqus_thread 元素
            live2d_observer.observe(document.getElementById('intro-header'));
        } 
        else {
            // 当前环境是爬虫、或当前浏览器其不兼容 IntersectionObserver API
            L2Dwidget.init({"pluginRootPath":"live2dw/",
                "pluginJsPath":"lib/",
                "pluginModelPath":"assets/",
                "tagMode":true,
                "debug":false,
                "model":{"jsonPath":"/live2dw/assets/shizuku.model.json"},
                "display":{"position":"right","width":130,"height":260},
                "mobile":{"show":false},
                "log":false
            }); 
      }
    }, 1);
</script>