

	
<!-- Bootstrap Core CSS -->
<link rel="preload" href="{{ '/css/bootstrap.css' | prepend: site.baseurl | prepend: site.url }}" as="style">

<!-- Custom CSS -->
<link rel="preload" href="{{ '/css/clean-blog.css' | prepend: site.baseurl | prepend: site.url }}" as="style"><!-- Adjust Colors -->
<link rel="preload" href="{{ '/colorscheme.css' | prepend: site.baseurl | prepend: site.url }}" as="style">

<!-- Pygments Github CSS -->
<link rel="preload" href="{{ '/css/syntax.css' | prepend: site.baseurl | prepend: site.url }}" as="style">

<!-- Custom Fonts -->
<link rel = "preload" href="https://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" as="style">
<link rel = "preload" href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' type='text/css' as="style">
<link rel = "preload" href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' type='text/css' as="style">


<!-- mathjax -->
<link rel= "preload" href="https://cdn.bootcss.com/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML" as="script">

<!-- jQuery -->
<link rel="preload" href="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js" as="script">

<!-- Bootstrap Core JavaScript -->
<link rel="preload" href="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js" as="script">


<!-- Custom Theme JavaScript -->
<link rel="preload" href="{{ '/js/clean-blog.min.js' | prepend: site.baseurl | prepend: site.url }}" as="script">