
<!-- Bootstrap Core CSS -->
<link rel="preload" href="{{ '/css/bootstrap.css' | prepend: site.baseurl | prepend: site.url }}" as="style">

<!-- Custom CSS -->
<link rel="preload" href="{{ '/css/clean-blog.css' | prepend: site.baseurl | prepend: site.url }}" as="style"><!-- Adjust Colors -->
<link rel="preload" href="{{ '/colorscheme.css' | prepend: site.baseurl | prepend: site.url }}" as="style">

<!-- Pygments Github CSS -->
<link rel="preload" href="{{ '/css/syntax.css' | prepend: site.baseurl | prepend: site.url }}" as="style">

<!-- Custom Fonts -->
<!-- you wen ti -->
<!-- <link rel = "preload" href="https://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css"  crossorigin="anonymous" as="style"> -->
<!-- <link rel = "preload" href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&display=swap' crossorigin="anonymous" as="style"> -->
<!-- <link rel = "preload" href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap' crossorigin="anonymous" as="style"> -->


<!-- mathjax -->
<link rel= "preload" href="https://cdn.bootcss.com/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML" as="script">

<!-- jQuery -->
<link rel="preload" href="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js" as="script">

<!-- Bootstrap Core JavaScript -->
<link rel="preload" href="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js" as="script">


<!-- Custom Theme JavaScript -->
<link rel="preload" href="{{ '/js/clean-blog.min.js' | prepend: site.baseurl | prepend: site.url }}" as="script">


<!-- star -->
<link rel="preload" href="/img/star.jpg" as="image">


<!-- cover -->

<!-- <link rel="preload" href="/img/home-bg.jpg" as="image">
<link rel="preload" href="/images/cover/0.jpg" as="image">
<link rel="preload" href="/images/cover/1.jpg" as="image">
<link rel="preload" href="/images/cover/2.jpg" as="image">
<link rel="preload" href="/images/cover/3.jpg" as="image">
<link rel="preload" href="/images/cover/3.jpg" as="image">
<link rel="preload" href="/images/cover/4.jpg" as="image">
<link rel="preload" href="/images/cover/5.jpg" as="image">
<link rel="preload" href="/images/cover/6.jpg" as="image">
<link rel="preload" href="/images/cover/7.jpg" as="image">
<link rel="preload" href="/images/cover/8.jpg" as="image">
<link rel="preload" href="/images/cover/9.jpg" as="image">
<link rel="preload" href="/images/cover/10.jpg" as="image">
<link rel="preload" href="/images/cover/11.jpg" as="image">
<link rel="preload" href="/images/cover/12.jpg" as="image">
<link rel="preload" href="/images/cover/13.jpg" as="image">
<link rel="preload" href="/images/cover/14.jpg" as="image">
<link rel="preload" href="/images/cover/15.jpg" as="image">
<link rel="preload" href="/images/cover/16.jpg" as="image">
<link rel="preload" href="/images/cover/17.jpg" as="image">
<link rel="preload" href="/images/cover/18.jpg" as="image">
<link rel="preload" href="/images/cover/19.jpg" as="image">
<link rel="preload" href="/images/cover/20.jpg" as="image"> -->

<!-- emoji -->

<!-- <link rel="preload" href="/img/emoji/i_f01.png" as="image">
<link rel="preload" href="/img/emoji/i_f03.png" as="image">
<link rel="preload" href="/img/emoji/i_f04.png" as="image">
<link rel="preload" href="/img/emoji/i_f06.png" as="image">
<link rel="preload" href="/img/emoji/i_f08.png" as="image">
<link rel="preload" href="/img/emoji/i_f09.png" as="image">
<link rel="preload" href="/img/emoji/i_f10.png" as="image">
<link rel="preload" href="/img/emoji/i_f11.png" as="image">
<link rel="preload" href="/img/emoji/i_f12.png" as="image">
<link rel="preload" href="/img/emoji/i_f13.png" as="image">
<link rel="preload" href="/img/emoji/i_f15.png" as="image">
<link rel="preload" href="/img/emoji/i_f16.png" as="image">
<link rel="preload" href="/img/emoji/i_f17.png" as="image">
<link rel="preload" href="/img/emoji/i_f18.png" as="image">
<link rel="preload" href="/img/emoji/i_f19.png" as="image">
<link rel="preload" href="/img/emoji/i_f20.png" as="image">
<link rel="preload" href="/img/emoji/i_f22.png" as="image">
<link rel="preload" href="/img/emoji/i_f24.png" as="image">
<link rel="preload" href="/img/emoji/i_f25.png" as="image">
<link rel="preload" href="/img/emoji/i_f26.png" as="image">
<link rel="preload" href="/img/emoji/i_f27.png" as="image">
<link rel="preload" href="/img/emoji/i_f28.png" as="image">
<link rel="preload" href="/img/emoji/i_f29.png" as="image">
<link rel="preload" href="/img/emoji/i_f30.png" as="image"> -->

<!-- live2d -->
<link rel="preload" href="/live2dw/assets/moc/shizuku.1024/texture_00.png" as="image" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/moc/shizuku.1024/texture_01.png" as="image" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/moc/shizuku.1024/texture_02.png" as="image" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/moc/shizuku.1024/texture_03.png" as="image" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/moc/shizuku.1024/texture_04.png" as="image" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/moc/shizuku.1024/texture_05.png" as="image" crossorigin="anonymous">

<link rel="preload" href="/live2dw/lib/L2Dwidget.min.js" as="script">

<!--
<link rel="preload" href="/live2dw/assets/moc/shizuku.moc" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/flickHead_00.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/flickHead_01.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/flickHead_02.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/idle_00.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/idle_01.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/idle_02.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/pinchOut_00.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/pinchOut_01.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/pinchOut_02.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/pinchIn_00.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/pinchIn_01.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/pinchIn_02.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/shake_00.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/shake_01.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/shake_02.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/tapBody_00.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/tapBody_01.mtn" crossorigin="anonymous">
<link rel="preload" href="/live2dw/assets/mtn/tapBody_02.mtn" crossorigin="anonymous">
 -->
